<h1>Login</h1>

<p>Enter your credentials</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <!--<form asp-action="Login"></form>-->
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label"></label>
            <input [(ngModel)]="userName" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input [(ngModel)]="password" class="form-control" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" (click)="loginClick()">Login</button>
        </div>
        <div class="form-group">
            <button class="btn btn-default" (click)="getDataClick()">Try get sensitive data</button>
        </div>
        <input type="text" [(ngModel)]="token" />
        <input type="text" [(ngModel)]="sensitiveDataResult" />
    </div>
</div>